body {
  background-color: #f8f6fc;
  border: 2px solid #885ef1;
  margin: 10px auto;
  padding: 20px;
  max-width: fit-content;
}

h1 {
  list-style: none;
  font-size: 20px;
  font-weight: 70px;
  font-family: Cerebri-Sans, Helvetica, Arial, sans-serif;
}

li {
  list-style: none;
  font-size: 20px;
  font-weight: 70;
  font-family: Cerebri-Sans, Helvetica, Arial, sans-serif;
}

.main {
  text-align: left;
}

.description {
  text-align: right;
  text-transform: capitalize;
}

.humidity {
  text-align: right;
}

.search {
  padding: 15px;
  border-radius: 30px 30px 30px 30px;
  border: #f8f9fa;
  margin: 30px;
  width: 350px;
}

src {
  text-align: right;
}

button {
  background-color: #885ef1;
  border-radius: 30px 30px 30px 30px;
  border: #885ef1;
  color: #f8f6fc;
  width: 100px;
  margin: 30px auto;
  padding: 10px;
}

.weather-forecast {
  text-align: center;
  margin-top: 20px;
}
